@model WebApplication5.Models.Tblcustomer

@{
    ViewData["Title"] = "Edit";
}



<h2 align="center">Edit Profile</h2>

<div class="row">
    <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Customerid" />
                <div class="form-group">
                    <label asp-for="Customername" class="control-label">Name</label>
                    <input asp-for="Customername" class="form-control" />
                    <span asp-validation-for="Customername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cuusername" class="control-label">Username</label>
                    <input asp-for="Cuusername" class="form-control" />
                    <span asp-validation-for="Cuusername" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cupassword" class="control-label">Password</label>
                    <input asp-for="Cupassword" class="form-control" />
                    <span asp-validation-for="Cupassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact" class="control-label">Contact</label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cumail" class="control-label">Mail</label>
                    <input asp-for="Cumail" class="form-control" />
                    <span asp-validation-for="Cumail" class="text-danger"></span>
                </div>
                <input asp-for="Cuprofile" class="form-control" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>




