@model WebApplication5.Models.Tblpackage

@{
    ViewData["Title"] = "Edit";
}



<h4 align="center">Package</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Packageid" />
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Phototgrapherid" />
                </div>
                <div class="form-group">
                    <label asp-for="Clicks" class="control-label"></label>
                    <input asp-for="Clicks" class="form-control" />
                    <span asp-validation-for="Clicks" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

   