@model WebApplication5.Models.Tblappointmentslot

@{
    ViewData["Title"] = "Create";
}



<h4 align="center">Appointmentslot</h4>

<div class="row">
    <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Duration" class="control-label"></label>
                    <input asp-for="Duration" class="form-control" placeholder="Ex.10-11 11-12  12-2" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>



